# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build
*.tsbuildinfo

# Env files
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# Prisma
apps/api/prisma/migrations/*.sql

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# IDE
.vscode
.idea
*.swp
*.swo
